//-
   	Author:Jose Machava <jose.s.machava@gmail.com>
    Author URI: http://josemachava.com
    Company:kutiva;
    Company URI:http://photos.josemachava.com
    Description:Upload photos
    Copyrigth:2017 (c) 
extends base.pug



block content
	h1 Hello World