//-
   	Author:Jose Machava <jose.s.machava@gmail.com>
    Author URI: http://josemachava.com
    Company:kutiva;
    Company URI:http://photos.josemachava.com
    Description:Photos
    Copyrigth:2017 (c) 
  		

doctype html
{% load staticfiles %}
html(lang="en")
	head		
	    meta(charset="utf-8")
	    meta(http-equiv="X-UA-Compatible", content="IE=edge")
	    meta(name="viewport", content="width=device-width, initial-scale=1")
		block title
			title Base template
		block styles
			link(rel="stylesheet", href="{% static 'stylesheet/main.css' %}")	
		block scripts
			script(src"{% static 'javascript/app.js' %}")


	body
		block content	